#play-area {
  .Token {
    perspective: 1000px;

    .flipper {
      width: 100%;
      height: 100%;
      transition: 0.6s;
      transform-style: preserve-3d;
      position: relative;

      .front, .back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: .3em solid black;
        backface-visibility: hidden;

        html.dark & {
          border: .3em solid rgb(164, 164, 164);
        }
      }

      /* front pane, placed above back */
      .front {
        z-index: 2;
        background: #333;
        /* for firefox 31 */
        transform: rotateY(0deg);
      }

      /* back, initially hidden pane */
      .back {
        background: #333;
        transform: rotateY(180deg);
      }
    }

    /* flip the pane when hovered */
    &:not([data-name]) .flipper {
      transform: rotateY(180deg);
    }

    &[data-color=blue] .front {
      background: blue;
      html.dark & {
        background: rgb(13, 13, 115);
      }
  }

    &[data-color=red] .front {
      background: red;
      html.dark & {
        background: rgb(115, 13, 13);
      }
    }
  }
}



h1 {
  font-family: Smythe, serif;
  font-size: 24pt;
}

h2 {
  font-family: Ribeye Marrow, fantasy;
  font-size: 18pt;
}

.banner {
  align-content: center;
}

.banner h1 {
  color: #433221;
  background-color: #76543276;
  font-family: Rye, fantasy;
  font-size: 30pt;
  border: double thick #322110;
  border-radius: .3em;
  margin: .2em;
  padding: .25em;
  text-align: center;
  width: 90%;
  box-shadow: 0.2em 0.2em 0.5em inset #543210,
              -.2em -.2em 0.5em inset #765432;
  text-shadow: 0.02em 0.02em 0.01em #ccab00,
               -.03em -.03em 0.01em #221100;
}

.banner .tagline {
  color: #322110;
  background-color: #76543276;
  font-family: Smythe, serif;
  font-size: 18pt;
  border-radius: .3em;
  border: solid #433221;
  margin: 0.25em;
  padding: 0.25em;
  text-align: center;
  width: 88%;
  box-shadow: 0.2em 0.2em 0.4em inset #765432, 
              -.2em -.2em 0.4em inset #543210;
  text-shadow: -.02em -.02em 0.01em #221100;
}

.player-controls button {
  font-family: Smythe, serif;
  color: #543210;
  background-color: #cba850;
}

.score {
  font-family: Smythe, serif;
  color: var(--player-color);
  margin-left: .25em;
  text-shadow: .02em .02em .2em #eee;
}

.prompt {
  font-family: Ribeye Marrow, Rieye, fantasy;
  color: #543210;
}

.Die .die-face {
  background-color: var(--player-color);
  border-radius: .5em;
  border-color: var(--player-color);
  box-shadow: 0.1em 0.1em .3em inset #ffffffa0, 
              -.1em -.1em .4em inset #000000ba;

}

.Die[data-twisted=true] .die-face {
  background-color: var(--player-color);
  border-radius: .5em;
  border-color: var(--player-color);
  box-shadow: 0.1em -.1em .3em inset #ffffffa0, 
              -.1em 0.1em .4em inset #000000ba;

}

[data-twisted=true] {
  transform: rotate(90deg);
}

#land .bz-default {
  visibility: hidden;
}

[data-name=players] .bz-default {
  background: none;
  visibility: hidden;
}

.playerZone {
  padding: .2em;
}

[data-name=zone] {
  background-color: color-mix(in srgb, var(--player-color), rgb(none none none / 5%));
  border: solid .1em var(--player-color);
  border-radius: .2em;
  box-shadow: 1px 1px .3em inset var(--player-color), 
              -1px -1px .3em inset #00000033;
  visibility: visible;
}

[data-name=cup] {
  border: solid .5em var(--player-color);
  border-top: none;
  border-radius: 50% / 0% 0% 15% 15%;
  visibility: visible;
}

[data-name=reserve] {
  border: solid .2em var(--player-color);
  border-radius: 50% / 10%;
  visibility: visible;
}


[data-name=cup] .Die .dot {
  visibility: hidden;
}

#reserve .Die .dot {
  visibility: hidden;
}

.bz-default {
  background-color: none;
}

[data-name=plot].selectable {
  box-shadow: 01em 01em 1em inset #876543, 
              -1em -1em 1em inset #765432;
  visibility: visible;
}

[data-phase="0"].SprawlBoard [data-name=plot].selectable {
    box-shadow: none;
}

[data-phase="0"].SprawlBoard [data-name=plot].selectable:hover,
[data-name=plot].selectable:hover {
  box-shadow: 0.5em 0.5em 1em inset #ccab00, 
              -.5em -.5em 1em inset #ccab00;
  visibility: visible;
}

[data-name="plot"] .blocker {
  font-family: Smythe, serif;
  font-size: 175%;
  visibility: hidden;
}

[data-name="plot"]:not(.selectable):hover .blocker {
  font-family: Smythe, serif;
  font-size: 175%;
  visibility: visible;
}

[data-name=cup].selectable {
  box-shadow: 0.5em 0.5em 1em inset #ccab00, 
              -.5em -.5em 1em inset #ccab00;
  visibility: visible;
}

[data-name=cup].selectable:hover {
  box-shadow: 0.5em 0.5em 1em inset var(--player-color), 
              -.5em -.5em 1em inset var(--player-color);
  visibility: visible;
}

[data-name=plot][data-gridparity=odd] {
  background-color: #65432176;
  visibility: visible;
}

[data-name=plot][data-gridparity=even] {
  background-color: #87654321;
  visibility: visible;
}
